/*=============== PRODUCTS ===============*/
.product{
  &__description{
    text-align: center;
  }
  &__container{
    padding: 3rem 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem 3rem;
  }
  &__card{
    display: grid;
    position: relative;

    &:hover .product__img{
      transform: translateY(-.5rem);
    }
  }
  &__img{
    position: relative;
    width: 120px;
    justify-self: center;
    margin-bottom: var(--mb-0-75);
    transition: .3s;
  }
  &__title,
  &__price{
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
  }

  &__price{
    color: var(--price-color);
  }

  &__title{
    margin-bottom: .25rem;
    color: var(--title-color);
  }
  &__button{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--first-color);
    color: #FFF;
    padding: .25rem;
    border-radius: .35rem;
    font-size: 1.15rem;

    &:hover{
      background-color: var(--first-color-alt);
    }
  }
  &__circle{
    width: 90px;
    height: 90px;
    background-color: var(--first-color-lighten);
    border-radius: 50%;
    position: absolute;
    top: 18%;
    left: 5%;
  }

  &__carousel {
    position: relative;
    padding-bottom: 30px;

    &__card {
      max-width: 185px;
      margin: 0 auto;
    }
  }
}